:root {
  --color-brand--1: #f99417;
  /* --color-brand--2: #e8e2e2; */
  --color-brand--2: black;

  --color-bar--1: #5d3891;
  --color-dark--1: #2d3439;
  /* --color-dark--2: #42484d; */
  --color-dark--2: #999b9c;

  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.test {
  position: absolute;
  top: 0;
  z-index: 9999;
  text-align: center;
  width: 150px;
  left: 50%;
}
body {
  font-family: "Manrope", sans-serif;
  /* color: var(--color-light--2); */
  color: var(--color-bar--1);

  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  /* padding: 2.5rem; */

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-bar--1);
  padding: 0rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s, transform 1ms;
}

.sidebar--hidden {
  display: none;
  transform: translateY(-30rem);
}
.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.logo-area {
  display: flex;
}
.sidebar-close {
  padding-left: 43rem;

  font-size: 4rem;
  color: #e8e2e2;
  display: flex;
  position: absolute;
}
.sidebar-close:hover {
  color: #f99417;
}
.sortbtn {
  background-color: #e8e2e2;
  color: #5d3891;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  margin-left: 1rem;
}
.deleteAllbtn {
  background-color: #c3acd0;
  color: #5d3891;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  margin-left: 1rem;
}

.dropdown {
  position: relative;

  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  /* display: none; */
  display: flex;
  justify-content: space-between;
  position: relative;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.dropdown-content--hidden {
  /* display: none; */
  display: none;

  position: relative;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1.2rem;
}

.sort-content-distance {
  background-color: transparent;
  color: var(--color-light--1);
  padding: 1rem;
  border-radius: 3px;
  border: none;
  margin-left: 1rem;
  text-align: center;
}
.sort-content-distance:hover {
  background-color: #f5f5f5;
}
.sort-content-duration {
  background-color: transparent;
  color: var(--color-light--1);
  padding: 1rem;
  border-radius: 3px;
  border: none;
  margin-left: 1rem;
  text-align: center;
}
.sort-content-duration:hover {
  background-color: #f5f5f5;
}
.sort-content-type {
  background-color: transparent;
  color: var(--color-light--1);
  padding: 1rem;
  border-radius: 3px;
  border: none;
  margin-left: 1rem;
  text-align: center;
}
.sort-content-type:hover {
  background-color: #f5f5f5;
}
.sortbtn:hover {
  background-color: #f5f5f5;
}
.deleteAllbtn:hover {
  background-color: #f7efe5;
}
.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  /* background-color: var(--color-dark--2); */
  background-color: #f5f5f5;
  opacity: 0.75;
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  /* color: var(--color-light--1); */
  color: #5d3891;
  text-transform: uppercase;
  font-weight: 800;
}
.workout__menu {
  border-radius: 5px;
}
.workout__menuEdit {
  background: hsl(0, 2%, 10%);
  border-radius: 5px;

  font-size: 15px;
  color: #eee;
  cursor: pointer;
  text-align: center;
}
.workout__menuDelete {
  background: #c3acd0;

  font-size: 15px;
  color: #5d3891;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.workout__menuEdit:hover {
  background: #060606;
  color: #f99417;
}
.workout__menuDelete:hover {
  background: #f99417;
  color: #5d3891;
}
.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem 2rem 2.75rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 12rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}
.edit {
  /* padding-top: 25rem; */
  /* right: 0; */
  position: relative;
  top: 40%;
  z-index: 9999;
  text-align: center;
  width: 40rem;
  left: 35%;
}
.editForm {
  background-color: #060606;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 13rem;
  transition: all 0.5s, transform 1ms;
}

.editForm.hidden {
  transform: translateY(30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}
.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.editForm__input {
  width: 100%;
  padding: 0.2rem 0.8rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}
.editForm__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}
.editForm__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: block;
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
  text-align: center;
  color: #2d3439;
}
.editForm__btn {
  display: block;
  width: 100%;
  height: 75%;
  padding: 0.3rem 1rem 0rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
  text-align: center;
  color: #2d3439;
}
.closeEditForm__btn {
  display: block;
  width: 100%;
  height: 75%;
  padding: 0.3rem 1rem 0rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
  text-align: center;
  color: #2d3439;
}
.form__btn:hover {
  background-color: #f99417;
  color: #eee;
}
.editForm__btn:hover {
  background-color: #f99417;
  color: #eee;
}
.closeEditForm__btn:hover {
  background-color: #5d3891;
  color: #eee;
}
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-bar--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-bar--1);
}
.cycling-popup .leaflet-popup-tip {
  background-color: var(--color-brand--1);
}
.cycling-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-brand--1);
  color: var(--color-bar--1);
  border-radius: 5px;
  padding-right: 0.6rem;
}
.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #e8e2e2;
}
